div.datagrid {
  width: 700px;




  table {
    border-width: 0;
    width: 100%;
    text-align: left;
    border-spacing: 0;

    th {
      font-size: 12px;
      padding: 20px 10px 10px 10px;

      &.fixed {
        width: 10px;
      }

      &:first-child {
        padding-right: 0px;
      }
      &:last-child {
        //text-align: center;
        padding-right: 0px;
      }
      span.sort_ascending {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-bottom: 5px solid black;
        margin: 0 0 5px 10px;
      }

      span.sort_descending {
        position: absolute;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid black;
        margin: 5px 0 0 10px;
      }

    }

    tbody {
      tr {



        td {

          height: 28px;
          padding: 10px 10px 10px 10px;


          &:first-child {

            border-bottom: none;
            width: 10px;
          }

          &:last-child {
            text-align: right;
            padding-right: 0px;
            border-bottom: none;
            width: 10px;
          }

          &.state {
            font-size: 12px;
          }


        }
      }
    }
  }
}

